<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New York Web Design & Development Solutions | Dorema Spire</title>
        <link rel="stylesheet" type="text/css" href="/build/tailwind.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>

        <style>
			[x-cloak] { display: none; }

			.grid-indigo {
				background-image: radial-gradient(#83C5BE 2px, transparent 2px);
				background-size: 16px 16px;
            }
            
        </style>
    </head>

    <body class="antialiased">
        <nav class="bg-borange dark:bg-gray-800 shadow">
            <div class="container mx-auto px-12 py-3">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-between items-center">
                        <div>
                            <a href="/" class="text-2xl text-white font-medium">Dorema Spire Logo</a>
                        </div>

                        <!-- Mobile menu button -->
                        <div class="flex md:hidden">
                            <button type="button" class="text-white dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                    <div class="hidden p-4 md:flex md:items-center text-lg text-white font-semibold">
                        <a href="#work" class="block mx-4 mt-2 md:mt-0 capitalize hover:underline">Work</a>
                        <a href="#about" class="block mx-4 mt-2 md:mt-0 capitalize hover:underline">About</a>
                        <a href="#contact" class="block mx-4 mt-2 md:mt-0 capitalize hover:underline">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
