<%- include('./partials/header') %>

<section class="h-screen">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet expedita laborum eum fugiat, facere asperiores natus ut voluptates sapiente et in molestias, assumenda ipsam magnam! Quidem officia vero iste nam incidunt ducimus voluptatibus, nihil dolore vitae adipisci officiis sit qui neque sequi. Impedit qui modi sapiente earum accusantium voluptates voluptas, ipsum natus ut. Illo temporibus incidunt porro amet dignissimos eaque. Voluptatibus, cupiditate similique necessitatibus minus deleniti inventore fuga neque ipsa tenetur alias, obcaecati deserunt beatae earum odit aperiam. Ducimus laudantium eligendi, aliquid voluptate in soluta obcaecati. Ut, nostrum deleniti perferendis tempora repellendus consequatur, ad beatae veniam ducimus voluptates enim debitis officiis? Earum, iusto! Aliquam ullam fuga ipsum temporibus fugit soluta quisquam repellat, suscipit praesentium. Deleniti veritatis aliquam dignissimos quae. Veniam, libero! Sed ipsa delectus tenetur voluptate, veniam nulla illo, optio aspernatur, provident quasi beatae. Maiores ad quidem consectetur nobis. Molestiae iusto beatae quas dolor vero recusandae vitae obcaecati necessitatibus dolorem, minus repellendus delectus iste quaerat facere ipsum atque ipsa neque assumenda. Commodi dolorem deserunt praesentium corporis similique voluptas nulla dolor tempore nihil iusto adipisci ipsam, maiores quae suscipit quos optio eos assumenda saepe. Ipsa sed, ducimus provident impedit ex voluptates itaque, consequatur nobis corporis aspernatur delectus cum, quo non fugit!
    </p>
</section>

<%- include('./partials/footer') %>
