<%- include('./partials/header') %>

    <section id="about" class="py-12 px-8 lg:py-24 lg:px-24 lg:h-full">
        <div class="px-2 mt-4 lg:mt-0 text-xl text-justify tracking-tight">
            <h1 class="mb-10 lg:mb-16 font-extrabold text-4xl md:text-5xl text-center text-gray-900 tracking-tighter">
                About Us</h1>

            <p>
                Dorema spire was birthed out of the desire to make the web accessible to people in this fast paced world
                As a the world was forced to live online. Our team of expert team of designers & development of over 5
                years of experience. We offer a package that would keep your customers engaged & well satisfied. Even as
                you grow your revenue. A digital marketing team dedicated to helping your business grow
            </p>

            <p class="mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eum accusamus itaque assumenda dolor
                praesentium possimus libero, suscipit, quam odio ut? Magni iusto qui natus laudantium id ipsum nostrum
                repellendus sequi libero, hic corrupti odio mollitia eaque ratione nihil ut quisquam dolor illum nam
                vitae. Suscipit consectetur rem, nemo laudantium iste minima nam excepturi accusamus provident nisi
                voluptates ut atque esse inventore facilis dolore dolor eius libero cum cupiditate ducimus labore!
                Eveniet esse enim assumenda quibusdam nisi soluta ad temporibus, deleniti perferendis consequuntur
                debitis odit vel commodi aperiam sunt quaerat minima quia modi? Animi sunt unde maxime repellat vel enim
                eaque, eveniet nihil blanditiis magni corrupti praesentium quae.
            </p>
        </div>
    </section>


    <!-- Meet Nancy Starts Here-->
    <section>
        <div class="lg:flex lg:flex-wrap mx-auto">
            <div class="lg:w-2/5 flex items-center lg:px-10 bg-cream">
                <div class="max-w-sm mx-auto">
                    <img class="w-full h-auto object-cover object-center rounded-2xl"
                        src="https://lh3.googleusercontent.com/R0gYakw-XtMfiX1SY97v91VbNW9zBfR1U4FF9n_f70wrjtfizE7psFfQYg_Iw4cG3flLWBeQbGdkb9pH9VIXLIR7EaTPW3ahD6xSpFVM2Vy7R4K0d08Vlp00ci8Cb5fRqSEJAV92rA=w2400"
                        alt="">
                </div>
            </div>

            <div class="lg:w-3/5 lg:px-24 lg:py-10 px-8 py-4 text-lg text-white bg-ming-lite">
                <h1 class="font-extrabold text-3xl md:text-4xl">Meet Nancy</h1>
                <p>creative director, graphic designer</p>

                <div class="mt-3 leading-7">
                    <p>
                        Hi there! I'm <a href="https://nancytochi.com/" class="hover:underline">Nancy</a> and I'm the
                        founder of Dorema Spire.
                    </p>

                    <p class="mt-2">
                        My digital and integrated marketing experience has included a diverse portfolio of projects
                        ranging from finance experts, to apparel and fashion, health and wellness, and consumer
                        electronics.
                    </p>

                    <p class="mt-2">
                        I've executed successful digital and traditional marketing campaigns, increased brand awareness,
                        constructed impactful messaging, and secured hundreds of top-tier media coverage opportunities.
                        I love making an impact with my clients and sharing their story with the world!
                    </p>

                    <p class="mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis asperiores, ipsam tempora.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, iure. Repudiandae,
                        illo tempore architecto, magnam esse expedita hic placeat laborum ea exercitationem maiores
                        repellendus consectetur nesciunt ad numquam, consequuntur consequatur.
                    </p>

                </div>

                <p class="mt-8 font-semibold italic">
                    You can reach me at <a href="#" class="hover:underline">nancytochi24@gmail.com</a> and <a
                        href="https://twitter.com/ntochi_" class="hover:underline">twitter.</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Meet Nancy Ends Here-->

    <!-- Meet Olise Starts Here-->
    <section>
        <div class="lg:flex lg:flex-wrap mx-auto">
            <div class="lg:w-2/5 flex items-center lg:px-10 bg-cream">
                <div class="max-w-sm mx-auto">
                    <img class="w-full h-auto object-cover object-center rounded-2xl"
                        src="https://lh3.googleusercontent.com/S-4g8Nxg3msCAmj7yD0RUc4XuXe2uK-1Uhg925bvLOWeyd2JscM0PfLosN9j1OjoA3_8vNBvuP5hqUOVRUNzq0UbLjGPOpXEb9zeiGGd0ztqhgwxBiFSA2byH208QAaXuq2TwGi2yA=w2400"
                        alt="">
                </div>
            </div>

            <div class="lg:w-3/5 lg:px-24 lg:py-10 px-8 py-4 text-lg text-white bg-ming-lite">
                <h1 class="font-extrabold text-3xl md:text-4xl">Meet Olise</h1>
                <p class="italic">graphic designer, illustrator</p>

                <div class="mt-3 leading-7">
                    <p>
                        Hi there! I'm <a href="https://nancytochi.com/" class="hover:underline">Nancy</a> and I'm the
                        founder of Dorema Spire.
                    </p>

                    <p class="mt-2">
                        My digital and integrated marketing experience has included a diverse portfolio of projects
                        ranging from finance experts, to apparel and fashion, health and wellness, and consumer
                        electronics.
                    </p>

                    <p class="mt-2">
                        I've executed successful digital and traditional marketing campaigns, increased brand awareness,
                        constructed impactful messaging, and secured hundreds of top-tier media coverage opportunities.
                        I love making an impact with my clients and sharing their story with the world!
                    </p>

                    <p class="mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis asperiores, ipsam tempora.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, iure. Repudiandae,
                        illo tempore architecto, magnam esse expedita hic placeat laborum ea exercitationem maiores
                        repellendus consectetur nesciunt ad numquam, consequuntur consequatur.
                    </p>

                </div>

                <p class="mt-8 font-semibold italic">
                    You can reach me at <a href="#" class="hover:underline">nancytochi24@gmail.com</a> and <a
                        href="https://twitter.com/ntochi_" class="hover:underline">twitter.</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Meet Nancy Ends Here-->



    <%- include('./partials/footer') %>