<%- include('./partials/header') %>

    <main>
        <!-- Header Starts Here -->
        <header class="bg-gray-900 pattern">
            <div class="lg:h-screen flex items-center justify-start px-20 py-16 md:py-24 lg:py-0 bg-gray-800 bg-opacity-50">
                <div>
                    <h1 class="my-2 text-white text-shadow-xl font-medium font-mono tracking-tighter text-center md:text-left capitalize md:lowercase text-3xl md:text-6xl lg:text-8xl lg:animate-pulse">
                        <span class="space-x-5">be where</span>
                        <br>
                        <span>the world is going.</span>
                    </h1> 

                    <button class="px-2 py-2 my-3 ml-6 text-xxs md:m-0 md:text-lg lg:px-8 lg:py-3 lg:my-7 lg:text-xl text-white bg-transparent border border-solid border-white hover:bg-gray-900 hover:text-white font-bold capitalize rounded outline-none focus:outline-none" type="button">
                        <a href="#services">build a website & grow your business</a>
                    </button>                        
                </div>
            </div>

        </header>
        <!-- Header Ends Here -->

        <!-- Work Starts Here-->
        <section id="work" class="py-12 px-4 text-justify">
            <h1 class="py-6 md:py-16 font-extrabold text-4xl md:text-5xl text-center text-gray-900 tracking-tighter">Recent Work</h1>

            <!-- * AATC -->
            <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-20 lg:mb-40">
                <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <img class="rounded shadow" src="https://lh3.googleusercontent.com/E23GA8Pqayv0hiQyr1yH03-AsvNU0SMW6h2IN34gl8fh_RGZj0cXYUfMGN7PlLi728x_A5k3WnKOiM9DmuDMtTiOsUC8_gSagN0O1UDOza1KJ6b076kfvQNwMCEt1cA8PHRQ6aDz9A=w2400" alt="">
                </div>

                <div class="lg:w-1/2 px-6">
                    <h2 class="text-2xl font-bold md:text-3xl">AATC Services</h2>

                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>

                    <h4 class="mt-4 text-xl">Built with 
                        <span class="text-red-500">WordPress | Sass | Vue</span>
                    </h4>
                    
                    <div class="mt-8">
                        <a href="https://www.aatcservices.com" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">
                            live demo
                        </a>

                        <a href="/project-details" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>
                    </div>
                </div>
            </div>

            <!-- * Dorema Place -->
            <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-20 lg:mb-40">
                <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <img class="rounded shadow" src="https://lh3.googleusercontent.com/ZZMynGXJ-l399Nh9EyijEsnqBlRg2zeSeEF3-vgCOPqGteQmNfH5xYAxDu8fQy6WZI4OMyLGex_PzybuARTuOmUjvfrlAmxB8RBCtmaq9aS3QDHcyvJTLGUf4PL8M684kvW3LzE_ww=w2400" alt="">
                </div>

                <div class="lg:w-1/2 px-6">
                    <h2 class="text-2xl font-bold md:text-3xl">
                        Kid's Place
                    </h2>

                    <p class="mt-4">An E-commerce gift store built with React.js with all the required features from searching, filtering and sorting products to adding them to a cart, setting quantities and so on.
                    </p>

                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>

                    <h4 class="text-xl mt-4">Built with 
                        <span class="text-red-500">React Sass Vue</span>
                    </h4>
                    
                    <div class="mt-8">
                        <a href="https://kids-place.herokuapp.com/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>

                        <a href="/" class="hidden md:inline px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>

                        <a href="https://github.com/ntochi/kids-place" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">see it on github</a>
                    </div>
                </div>
            </div>

            <!-- * PrintYim -->
            <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-20 lg:mb-40">
                <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <img class="rounded shadow" src="https://lh3.googleusercontent.com/ZZMynGXJ-l399Nh9EyijEsnqBlRg2zeSeEF3-vgCOPqGteQmNfH5xYAxDu8fQy6WZI4OMyLGex_PzybuARTuOmUjvfrlAmxB8RBCtmaq9aS3QDHcyvJTLGUf4PL8M684kvW3LzE_ww=w2400" alt="">
                </div>

                <div class="lg:w-1/2 px-6">
                    <h2 class="text-2xl font-bold md:text-3xl">
                        PrintYim
                    </h2>

                    <p class="mt-4">An E-commerce gift store built with React.js with all the required features from searching, filtering and sorting products to adding them to a cart, setting quantities and so on.
                    </p>

                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>

                    <h4 class="text-xl mt-4">Built with 
                        <span class="text-red-500">React Sass Vue</span>
                    </h4>
                    
                    <div class="mt-8">
                        <a href="https://kids-place.herokuapp.com/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>

                        <a href="/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>
                    </div>
                </div>
            </div>

            <!-- * Susan & Joshua -->
            <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-20 lg:mb-40">
                <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <img class="rounded shadow" src="https://lh3.googleusercontent.com/ZZMynGXJ-l399Nh9EyijEsnqBlRg2zeSeEF3-vgCOPqGteQmNfH5xYAxDu8fQy6WZI4OMyLGex_PzybuARTuOmUjvfrlAmxB8RBCtmaq9aS3QDHcyvJTLGUf4PL8M684kvW3LzE_ww=w2400" alt="">
                </div>

                <div class="lg:w-1/2 px-6">
                    <h2 class="text-2xl font-bold md:text-3xl">
                        Susan ❤'s Joshua
                    </h2>

                    <p class="mt-4">A wedding register that allows friends leave goodwill messages and buy gifts for a couple.
                    </p>

                    <h4 class="text-xl mt-4">Built with 
                        <span class="text-red-500">React Sass Vue</span>
                    </h4>
                    
                    <div class="mt-8">
                        <a href="https://kids-place.herokuapp.com/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>

                        <a href="/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>
                    </div>
                </div>
            </div>

            <!-- * Yelp Camp -->
            <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-28">
                <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                    <img class="rounded shadow" src="https://lh3.googleusercontent.com/lYWAp8jMNc8vYjk6pzJfa-YUYKbhMkrHjXGVAiQkgBz323pyP_q1MqHg6G11kgh42_fVoRvEPqX75rXYzgzAtBf-XNog-eqsc3vJk-ZKC3VLfDsDdNwj7kjzH7jeRbyxTvwfvIj_tw=w2400" alt="">
                </div>

                <div class="lg:w-1/2 px-6">
                    <h2 class="text-2xl font-bold md:text-3xl">
                        Yelp Camp
                    </h2>

                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
                    <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>

                    <h4 class="text-xl mt-4">Built with 
                        <span class="text-red-500">React Sass Vue</span>
                    </h4>
                    
                    <div class="mt-8">
                        <a href="https://stark-fortress-57671.herokuapp.com/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>
                        
                        <a href="/" class="hidden md:inline px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>

                        <a href="https://github.com/ntochi/yelp-camp" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">see it on github</a>
                    </div>
                </div>
            </div>
            
            <button class="flex mx-auto md:my-10 py-2 px-4 text-white text-lg font-medium capitalize bg-gray-900 border-0 focus:outline-none hover:bg-ming rounded">
                <a href="/more-work">View more work</a>
            </button>
            
        </section>
        <!-- Work Ends Here -->

        <!-- What We Offer Starts Here -->
        <section id="services" class="py-20 bg-alicia">
            <h1 class="pt-6 font-extrabold text-3xl md:text-5xl text-center text-gray-800 tracking-tighter">What We Offer</h1>

            <div class="container mx-auto px-8 py-8 md:px-16 md:py-12">
                <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 text-lg">

                    <!-- Branding & Design -->
                    <div class="px-4">
                        <svg class="h-8 w-8" viewBox="0 0 30 30" fill="none">
                            <g clip-path="url(#clip0)"><path d="M26.599 4.339a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zM7.151 25.661a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zM23.486 13.163a8.636 8.636 0 00-1.19-2.873l1.123-1.123-2.592-2.59L19.705 7.7a8.636 8.636 0 00-2.873-1.19V4.921h-3.664v1.586a8.634 8.634 0 00-2.873 1.19l-1.122-1.12-2.592 2.589 1.123 1.123a8.636 8.636 0 00-1.19 2.873H4.922l-.002 3.663h1.592A8.626 8.626 0 007.704 19.7l-1.127 1.127 2.59 2.591 1.128-1.127a8.623 8.623 0 002.873 1.19v1.597h3.664v-1.597a8.628 8.628 0 002.873-1.19l1.128 1.128 2.59-2.592-1.127-1.127a8.627 8.627 0 001.19-2.873h1.593v-3.664h-1.593zM15 19.256a4.255 4.255 0 110-8.511 4.255 4.255 0 010 8.51z" fill="#006D77"/><path d="M5.276 23.2c-.42 0-.823.105-1.182.302A13.853 13.853 0 011.172 15C1.172 7.375 7.375 1.172 15 1.172c.927 0 1.854.092 2.754.274a.586.586 0 00.232-1.149A15.111 15.111 0 0015 0C10.993 0 7.226 1.56 4.393 4.393A14.902 14.902 0 000 15c0 3.37 1.144 6.66 3.228 9.296-.268.4-.413.872-.413 1.365 0 .657.257 1.275.721 1.74a2.444 2.444 0 001.74.721c.658 0 1.276-.256 1.74-.721.465-.465.721-1.083.721-1.74s-.256-1.276-.72-1.74a2.445 2.445 0 00-1.74-.72zm.912 3.373a1.28 1.28 0 01-.912.377 1.28 1.28 0 01-.911-.377 1.28 1.28 0 01-.378-.912c0-.344.134-.668.378-.912a1.28 1.28 0 01.911-.377c.345 0 .668.134.912.378.243.243.377.567.377.911 0 .344-.134.668-.377.912zM26.772 5.703a2.465 2.465 0 00-.308-3.104 2.446 2.446 0 00-1.74-.721c-.658 0-1.276.256-1.74.72a2.445 2.445 0 00-.721 1.74c0 .658.256 1.276.72 1.741.465.465 1.083.72 1.74.72.42 0 .824-.104 1.183-.3A13.854 13.854 0 0128.828 15c0 7.625-6.203 13.828-13.828 13.828-.918 0-1.836-.09-2.728-.269a.586.586 0 00-.23 1.15c.968.193 1.963.291 2.958.291 4.007 0 7.773-1.56 10.607-4.393A14.902 14.902 0 0030 15c0-3.37-1.145-6.66-3.228-9.297zm-2.96-.452a1.28 1.28 0 01-.377-.912c0-.344.134-.668.377-.911a1.28 1.28 0 01.912-.378 1.29 1.29 0 010 2.578 1.28 1.28 0 01-.912-.377z" fill="#2D3748"/><path d="M12.582 25.078c0 .324.263.586.586.586h3.664a.586.586 0 00.586-.586v-1.136a9.179 9.179 0 002.199-.911l.802.802a.586.586 0 00.829 0l2.59-2.592a.586.586 0 000-.828l-.802-.802a9.169 9.169 0 00.911-2.199h1.132a.586.586 0 00.586-.585v-3.664a.586.586 0 00-.586-.586h-1.132a9.17 9.17 0 00-.911-2.199l.797-.797a.587.587 0 000-.829l-2.592-2.59a.586.586 0 00-.829 0l-.795.797a9.177 9.177 0 00-2.2-.912V4.922a.586.586 0 00-.585-.586h-3.664a.586.586 0 00-.586.586v1.126a9.169 9.169 0 00-2.199.91l-.796-.795a.586.586 0 00-.828 0l-2.592 2.59a.585.585 0 000 .828l.797.797a9.173 9.173 0 00-.911 2.199h-1.13a.586.586 0 00-.586.585l-.002 3.664a.585.585 0 00.586.586h1.132c.207.77.512 1.507.911 2.2l-.801.8a.586.586 0 000 .83l2.59 2.59a.586.586 0 00.829 0l.801-.801a9.185 9.185 0 002.2.911v1.136zm-1.97-3.28a.586.586 0 00-.732.078l-.713.714-1.761-1.763.712-.713a.586.586 0 00.078-.732 8.02 8.02 0 01-1.11-2.679.586.586 0 00-.572-.462H5.507l.002-2.492h1.005a.586.586 0 00.572-.463 8.022 8.022 0 011.11-2.678.586.586 0 00-.078-.733l-.708-.708 1.763-1.761.707.707c.196.196.5.228.733.078a8.016 8.016 0 012.678-1.11.586.586 0 00.463-.573v-1h2.492v1c0 .277.193.515.463.573a8.024 8.024 0 012.678 1.11c.232.15.537.118.732-.078l.708-.707 1.762 1.761-.708.708a.586.586 0 00-.078.732 8.027 8.027 0 011.11 2.679c.058.27.297.463.573.463h1.007v2.492h-1.007a.586.586 0 00-.573.462 8.02 8.02 0 01-1.11 2.679.586.586 0 00.078.732l.713.713-1.761 1.762-.714-.713a.586.586 0 00-.732-.078 8.027 8.027 0 01-2.678 1.11.586.586 0 00-.463.573v1.011h-2.492v-1.01a.586.586 0 00-.463-.574 8.021 8.021 0 01-2.678-1.11z" fill="#2D3748"/><path d="M19.841 15A4.847 4.847 0 0015 10.158 4.847 4.847 0 0010.158 15 4.847 4.847 0 0015 19.841 4.847 4.847 0 0019.841 15zm-8.51 0A3.674 3.674 0 0115 11.33 3.674 3.674 0 0118.67 15 3.674 3.674 0 0115 18.67 3.674 3.674 0 0111.33 15z" fill="#2D3748"/><path d="M20.395 2.216a.59.59 0 00.415-.172.593.593 0 00.171-.415.59.59 0 00-.586-.586.589.589 0 00-.586.586.589.589 0 00.586.587zM9.63 27.794a.59.59 0 00-.586.586.59.59 0 00.586.586.59.59 0 00.586-.586.59.59 0 00-.586-.585z" fill="#4299E1"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h30v30H0z"/></clipPath></defs>
                        </svg>
                    
                        <h1 class="mt-4 font-bold text-2xl text-gray-800 dark:text-white">
                            Branding & Design
                        </h1>
                        
                        <p class="mt-2 dark:text-gray-400 text-justify">
                            We create visual elements that make up the brand identity of your company, showing what it stands for and highlighting your beliefs
                        </p>

                        <p class="mt-2 dark:text-gray-400 text-justify">
                            It is the first impression that meets the eye of a customer. We have a team of experienced designers who present some of the most attractive designs for distinguishing industries and cater to their needs.               
                        </p>

                        <p class="mt-2 dark:text-gray-400 text-justify">
                            Let's help you create
                            <span class="italic font-semibold">a lasting impression.</span>
                        </p>
                    </div>
                    
                    <!-- Website Solutions -->
                    <div class="px-4">
                        <svg class="h-8 w-8" viewBox="0 0 30 30" fill="none">
                            <path d="M29.6931 14.2283L22.7556 6.87823C22.3292 6.426 21.6175 6.40538 21.1652 6.83212C20.7137 7.25851 20.6927 7.9706 21.1195 8.42248L27.3284 15L21.1195 21.5783C20.6927 22.0302 20.7137 22.7419 21.1652 23.1687C21.3827 23.3738 21.6606 23.4754 21.9374 23.4754C22.2363 23.4754 22.5348 23.3569 22.7557 23.1233L29.6932 15.7729C30.1022 15.339 30.1023 14.6618 29.6931 14.2283Z" fill="#2D3748"/><path d="M8.88087 21.578L2.67236 15L8.88087 8.42215C9.30726 7.97028 9.28664 7.25812 8.83476 6.83179C8.38323 6.4054 7.67073 6.42603 7.2444 6.87791L0.306858 14.2279C-0.102245 14.6614 -0.102245 15.3391 0.306858 15.7726L7.24475 23.123C7.466 23.3574 7.76413 23.4755 8.06302 23.4755C8.33976 23.4755 8.61767 23.3735 8.83476 23.1684C9.28705 22.742 9.30726 22.0299 8.88087 21.578Z" fill="#2D3748"/><path d="M16.8201 3.08774C16.2062 2.99476 15.6317 3.41622 15.5379 4.03011L12.2379 25.6302C12.1441 26.2445 12.566 26.8186 13.1803 26.9124C13.238 26.921 13.295 26.9252 13.3516 26.9252C13.898 26.9252 14.3773 26.5266 14.4624 25.97L17.7624 4.3699C17.8562 3.7556 17.4343 3.1815 16.8201 3.08774Z" fill="#006D77"/>
                        </svg>
        
                        <h1 class="mt-4 font-bold text-2xl text-gray-800 dark:text-white">
                            Website Solutions
                        </h1>
        
                        <p class="mt-2 dark:text-gray-400 text-justify">
                            Designing & developing for various screen sizes takes precision that's why we insist on a flawless user experience.
                        </p>

                        <p class="mt-2 dark:text-gray-400 text-justify">
                            Every detail is evaluated to ensure that the site performs for ultimate user pleasure and engagement. Your audience will feel pleasure when interacting with your business online. 
                        </p>

                        <p class="mt-2 dark:text-gray-400 text-justify">
                            <span class="italic font-semibold">More pleasure = more customers.</span>
                            Time to redesign? Let’s get visionary!
                        </p>
                    </div>
        
                    <!-- Digital Marketing -->
                    <div class="px-4">
                        <svg class="h-8 w-8" viewBox="0 0 30 30" fill="none">
                            <path d="M27.3633 7.08984H26.4844V6.21094C26.4844 4.75705 25.3015 3.57422 23.8477 3.57422H4.39453C2.94064 3.57422 1.75781 4.75705 1.75781 6.21094V21.1523H0.878906C0.393516 21.1523 0 21.5459 0 22.0312V23.7891C0 25.2429 1.18283 26.4258 2.63672 26.4258H27.3633C28.8172 26.4258 30 25.2429 30 23.7891V9.72656C30 8.27268 28.8172 7.08984 27.3633 7.08984ZM3.51562 6.21094C3.51562 5.72631 3.9099 5.33203 4.39453 5.33203H23.8477C24.3323 5.33203 24.7266 5.72631 24.7266 6.21094V7.08984H20.332C18.8781 7.08984 17.6953 8.27268 17.6953 9.72656V21.1523H3.51562V6.21094ZM1.75781 23.7891V22.9102H17.6953V23.7891C17.6953 24.0971 17.7489 24.3929 17.8465 24.668H2.63672C2.15209 24.668 1.75781 24.2737 1.75781 23.7891ZM28.2422 23.7891C28.2422 24.2737 27.8479 24.668 27.3633 24.668H20.332C19.8474 24.668 19.4531 24.2737 19.4531 23.7891V9.72656C19.4531 9.24193 19.8474 8.84766 20.332 8.84766H27.3633C27.8479 8.84766 28.2422 9.24193 28.2422 9.72656V23.7891Z" fill="#2D3748"/><path d="M24.7266 21.1523H22.9688C22.4834 21.1523 22.0898 21.5459 22.0898 22.0312C22.0898 22.5166 22.4834 22.9102 22.9688 22.9102H24.7266C25.212 22.9102 25.6055 22.5166 25.6055 22.0312C25.6055 21.5459 25.212 21.1523 24.7266 21.1523Z" fill="#006D77"/><path d="M23.8477 12.3633C24.3331 12.3633 24.7266 11.9698 24.7266 11.4844C24.7266 10.999 24.3331 10.6055 23.8477 10.6055C23.3622 10.6055 22.9688 10.999 22.9688 11.4844C22.9688 11.9698 23.3622 12.3633 23.8477 12.3633Z" fill="#006D77"/>
                        </svg>    
        
                        <h1 class="mt-4 font-bold text-2xl text-gray-800 dark:text-white">
                            Digital Marketing
                        </h1>
                        
                        <p class="mt-2 text-justify">
                            We craft customized marketing strategies that gives you an unfair advantage over your competition.
                        </p>

                        <p class="mt-2 text-justify">
                            Our process involves a full evaluation of your market so your marketing dollar is spent to reach the people who truly matter to your business. We integrate a vast range of online marketing tools to build your business traffic.
                        </p> 
                        
                        <p class="mt-2 text-justify">
                            Your business is unique and has distinct goals, we'll give it the <span class="italics font-semibold">exposure</span> it needs to thrive.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- What We Offer Ends Here -->
        

        <!-- Testimonials Starts Here-->
        <section class="mx-auto flex flex-col lg:flex-row  shadow-md overflow-hidden" x-data="{ testimonialActive: 2 }" x-cloak>

            <div class="relative w-full py-12 lg:py-24 lg:w-1/2 flex flex-col item-center justify-center bg-ming">

                <!-- What Our Clients Are Saying -->
                <div class="text-4xl md:text-6xl md:p-6 mx-auto text-white font-semibold leading-tight mb-0">
                    <span class="md:block">What Our</span>
                    <span class="md-block">Clients Are</span>
                    <span class="block">Saying!</span>
                </div>

                <!-- Testimonial Navigation Button -->
                <div class="absolute right-0 bottom-0 mr-4 mb-4 hidden md:block">
                    <button 
                        class="animate-bounce rounded-l-full border-r bg-middle-green text-white focus:outline-none hover:text-indigo-500 font-bold w-12 h-10"
                        x-on:click="testimonialActive = testimonialActive === 1 ? 3 : testimonialActive - 1">
                        &#8592;
                    </button><button 
                        class="animate-bounce rounded-r-full bg-middle-green text-white focus:outline-none hover:text-indigo-500 font-bold w-12 h-10"
                        x-on:click="testimonialActive = testimonialActive >= 3 ? 1 : testimonialActive + 1">
                        &#8594;
                        </button>
                </div>
            </div>

            <div class="bg-white lg:w-1/2 py-16">
                <div class="flex flex-col h-full relative">
                    <!-- Opening Quotes -->
                    <div class="absolute top-0 left-0 mt-3 ml-4 md:mt-5 md:ml-12">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-middle-green fill-current w-12 h-12 md:w-16 md:h-16" viewBox="0 0 24 24"><path d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L9.758 4.03c0 0-.218.052-.597.144C8.97 4.222 8.737 4.278 8.472 4.345c-.271.05-.56.187-.882.312C7.272 4.799 6.904 4.895 6.562 5.123c-.344.218-.741.4-1.091.692C5.132 6.116 4.723 6.377 4.421 6.76c-.33.358-.656.734-.909 1.162C3.219 8.33 3.02 8.778 2.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C2.535 17.474 4.338 19 6.5 19c2.485 0 4.5-2.015 4.5-4.5S8.985 10 6.5 10zM17.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35.208-.086.39-.16.539-.222.302-.125.474-.197.474-.197L20.758 4.03c0 0-.218.052-.597.144-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162C14.219 8.33 14.02 8.778 13.81 9.221c-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539.017.109.025.168.025.168l.026-.006C13.535 17.474 15.338 19 17.5 19c2.485 0 4.5-2.015 4.5-4.5S19.985 10 17.5 10z"/></svg>
                    </div>
                        
                    <!-- Comments -->
                    <div class="h-full relative z-10 py-8 md:py-0">
                        <div x-show.immediate="testimonialActive === 1">
                            <p class="text-gray-600 italic px-6 py-6 md:px-16 md:pt-20 md:pb-10 text-xl md:text-2xl" x-show.transition="testimonialActive == 1">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates pariatur voluptatem eveniet, debitis et, obcaecati iusto ut aperiam facilis in corporis sit numquam eius, facere aut? Laudantium beatae porro deserunt quisquam obcaecati ratione animi?
                            </p>
                        </div>
                        
                        <div x-show.immediate="testimonialActive === 2">
                            <p class="text-gray-600 italic px-6 py-6 md:px-16 md:pt-20 md:pb-10 text-xl md:text-2xl" x-show.transition="testimonialActive == 2">
                                I can't say enough about the excellent work that Dorema Spire has done on our website. They took a below-average website and transformed it into an appealing and informative website. It was an absolute pleasure to work with them. 
                                <br>
                                The designer listened to my thoughts and suggestions and far surpassed my expectations. I was so impressed with her ability to give me exactly what I wanted but could not have articulated. We are looking forward to working with them on future projects.                               
                            </p>
                        </div>
                        
                        <div x-show.immediate="testimonialActive === 3"> 
                            <p class="text-gray-600 italic px-6 py-6 md:px-16 md:pt-20 md:pb-10 text-xl md:text-2xl" x-show.transition="testimonialActive == 3">
                                We are very pleased with by the quality and creative design concepts that was developed for us. Nancy takes a truly personal interest in her design projects. always accessible, easy to work with, and listens intently to our ideas. 
                                <br>
                                We feel that Dorema Spire was able to capture the unique spirit of our company. They conveyed a sense of humor in our logo design, without losing a sense of integrity and serious sense of purpose that we want our company to project. Quite a tall order, we think! We are very happy with our logo & brand designs!
                            </p>
                        </div>
                    </div>

                    <!-- Buttons With Initials -->
                    <div class="flex justify-center items-center">
                        <button 
                            @click.prevent="testimonialActive = 1" 
                            class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline inline-block rounded-full mx-2"
                            :class="{'h-12 w-12 opacity-25 bg-indigo-300 text-gray-900': testimonialActive != 1, 'h-16 w-16 opacity-100 bg-middle-green text-white': testimonialActive == 1 }"	
                        >JO</button>
                        <button 
                            @click.prevent="testimonialActive = 2" 
                            class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline h-16 w-16 inline-block rounded-full mx-2"
                            :class="{'h-12 w-12 opacity-25 bg-indigo-300 text-gray-900': testimonialActive != 2, 'h-16 w-16 opacity-100 bg-middle-green text-white': testimonialActive == 2 }"	
                        >AE</button>
                        <button 
                            @click.prevent="testimonialActive = 3" 
                            class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline h-12 w-12 inline-block rounded-full mx-2"
                            :class="{'h-12 w-12 opacity-25 bg-indigo-300 text-gray-900': testimonialActive != 3, 'h-16 w-16 opacity-100 bg-middle-green text-white': testimonialActive == 3 }"
                        >KG</button>
                    </div>
                    
                    <!-- Name & Title -->
                    <div class="flex justify-center px-6 pt-2 pb-6">
                        <div class="text-center" x-show="testimonialActive == 1">
                            <h2 class="text-sm md:text-base font-bold text-gray-700 leading-tight">
                                Joshua Onungwe
                            </h2>
                            <small class="text-gray-500 text-xs md:text-sm truncate">
                                Senior Software Engineer, <a href="https://ayacare.com/" class="hover:text-indigo-600 hover:underline">Aya Payments</a> 
                            </small>
                        </div>

                        <div class="text-center" x-show="testimonialActive == 2">
                            <h2 class="text-sm md:text-base font-bold text-gray-700 leading-tight">
                                Akhimien Eromosele</h2>
                            <small class="text-gray-500 text-xs md:text-sm truncate">
                                Business Consultant, <a href="https://aatcservices.com" class="hover:text-indigo-600 hover:underline">AATC Services Inc.</a>
                            </small>
                        </div>

                        <div class="text-center" x-show="testimonialActive == 3">
                            <h2 class="text-sm md:text-base font-bold text-gray-700 leading-tight">
                                Kristan Gabb
                            </h2>
                            <small class="text-gray-500 text-xs md:text-sm truncate">
                                CEO, KG MultiServices.
                            </small>
                        </div>	 
                    </div>
                </div>
            </div>
        </section>    
        <!-- Testimonials Ends Here-->            

        <!-- About Us Starts Here -->
        <section id="about" class="py-12 px-8 lg:py-24 lg:px-24 lg:h-full">
            <h1 class="mb-10 lg:mb-16 font-extrabold text-4xl md:text-5xl text-center text-gray-900 tracking-tighter">About Us</h1>

            <div class="lg:flex lg:flex-wrap lg:pb-10">
                <div class="lg:w-1/3 px-2 hidden lg:block">
                    <h2 class="text-2xl lg:text-4xl font-semibold tracking-tighter text-gray-900">
                        It’s kind of fun to do the impossible.
                    </h2>
                </div>

                <div class="lg:w-2/3 px-2 mt-4 lg:mt-0 text-xl text-justify tracking-tight">
                    <p>
                        Dorema spire was birthed out of the desire to make the web accessible to people in this fast paced world As a the world was forced to live online. Our team of expert team of designers & development of over 5 years of experience. We offer a package that would keep your customers engaged & well satisfied. Even as you grow your revenue. A digital marketing team dedicated to helping your business grow
                    </p>
                </div>   
                
                <button class="flex items-center mx-auto mt-10 py-2 px-6 capitalize tracking-wide font-medium rounded border-b-4 bg-silk border-red-400  focus:outline-none">
                    <a href="/about">Learn more</a>
                </button>
            </div>
        </section>
        <!-- About Us Ends Here -->            

        <!-- Engage & Experience Starts Here -->
        <section id="contact" class="min-h-full bg-silk py-20">
            <h1 class="font-extrabold text-3xl md:text-5xl text-center">Engage & Experience</h1>

            <div class="px-8 py-6">
                <div class="max-w-2xl mx-auto text-md text-center">
                    <p class="text-xl md:text-2xl">
                        We're excited to help! Let's turn your big ideas into  a reality and create something your customers will love.
                    </p>
                </div>
            </div>
        </section>
        <!-- Engage & Experience Ends Here -->

        <!-- Contact Starts Here-->
        <section class="body-font relative bg-middle-green-lite">
            <div class="container px-5 py-12 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="font-extrabold text-3xl md:text-5xl">Contact Us</h1>

                    <p class="lg:w-2/3 mx-auto text-xl mt-4">
                        Have questions? Please fill the contact form below and we'll reply you shortly.
                    </p>
                </div>

                <div class="lg:w-1/2 md:w-2/3 mx-auto">
                    <div class="flex flex-wrap -m-2">
                        <!-- Form starts here -->
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="name" class="leading-7 text-sm text-gray-600">
                                    Name
                                </label>
                                <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>

                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="email" class="leading-7 text-sm text-gray-600">
                                    Email
                                </label>
                                <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>

                        <div class="p-2 w-full">
                            <div class="relative">
                                <label for="message" class="leading-7 text-sm text-gray-600">
                                    Message
                                </label>
                                <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                            </div>
                        </div>

                        <div class="p-2 w-full">
                            <button class="flex mx-auto text-white bg-gray-900 border-0 py-2 px-8 focus:outline-none hover:bg-ming rounded text-lg">Submit</button>
                        </div>
                        <!-- Form ends here -->


                        <!-- Other information -->
                        <div class="p-2 w-full mt-3 pt-8 border-t text-lg border-gray-500 text-center font-semibold">
                            <p class="my-2">Request Quote:</p>
                            <a href="#" class="text-gray-700 hover:underline">info@doremaspire.com</a>

                            <p class="my-2">Call Us On:</p>
                            <p class="my-2 leading-normal text-gray-700 hover:underline">+1 (516) 900-7024</p>

                            <p class="my-2">Follow Us On Social Media:</p>
                            <span class="inline-flex my-2">
                                <a class="text-gray-800 hover:text-ming">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-4 text-gray-800 hover:text-ming">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                                    </svg>
                                </a>
                                <a class="ml-4 text-gray-800 hover:text-ming">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Ends Here -->
    </main>

<%- include('./partials/footer') %>

