<%- include('./partials/header') %>

    <section class="py-12 px-4 text-justify">
        <h1 class="mt-4 text-2xl md:text-3xl text-center font-semibold">
            Browse through a list of other noteworthy projects.
         </h1>
     
        <!-- * Dad Jokes -->
        <div class="flex flex-wrap lg:mx-auto lg:px-8 -mx-4 mt-20 mb-20 lg:mb-40">
            <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                <img class="rounded shadow" src="https://lh3.googleusercontent.com/otTuvfJM7wuBlnfVlzkVHXog9bjgo22K-6yTL3V4TAo8KHVvMs1qFv6OUXsCn8bEi3OIE9OjrgI00wMEzbo-zTjRLd-AlDbu4HP9p-dA9UNIF9URDScAi3mEw47wl4S4WFgZ6GJhVg=w2400" alt="">
            </div>
        
            <div class="lg:w-1/2 px-6">
                <h2 class="text-2xl font-bold md:text-3xl">
                    Dad Jokes
                </h2>
        
                <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
                <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
        
                <h4 class="text-xl mt-4">Built with 
                    <span class="text-red-500">React Sass Vue</span>
                </h4>
                
                <div class="mt-8">
                    <a href="https://ntochi.github.io/dad-jokes/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>
        
                    <a href="/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>
        
                    <a href="https://github.com/ntochi/dad-jokes" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">see it on github</a>
                </div>
            </div>
        </div>

        <!-- * Nancy's Portfolio -->
        <div class="flex flex-wrap -mx-4 lg:mx-auto lg:px-8 mb-20 lg:mb-40">
            <div class="lg:w-1/2 px-4 mb-4 lg:mb-0">
                <img class="rounded shadow" src="https://lh3.googleusercontent.com/x6EqngTCqhnPTPVU0lHBKdXgeR68dpKIEtj8tmJZeERkyfX7ryxW-QEnrNtYNtNxnZxIqrbz-_2_K-be1R5an8ugPsE5C146S85Bep3kvI3SknaGUzB3pUuX0QiZsSTI6kOf34JrnQ=w2400" alt="">
            </div>
        
            <div class="lg:w-1/2 px-6">
                <h2 class="text-2xl font-bold md:text-3xl">
                    Creative's Portfolio
                </h2>
        
                <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
                <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim </p>
        
                <h4 class="text-xl mt-4">Built with 
                    <span class="text-red-500">React Sass Vue</span>
                </h4>
                
                <div class="mt-8">
                    <a href="https://nancytochi.com" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">live demo</a>
        
                    <a href="/" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">more details</a>
        
                    <a href="https://github.com/ntochi/dad-jokes" class="px-5 py-2 mx-1 bg-transparent border border-solid border-black hover:bg-gray-900 hover:text-gray-100 font-semibold rounded">see it on github</a>
                </div>
            </div>
        </div>

    </section>


<%- include('./partials/footer') %>
